html, body, #md-editor, #content, #main, .CodeMirror {
    height: 100%;
}

.CodeMirror {
  height: auto;
}

#main {
    width: 100%;
    display: flex;
}

body {
    margin: 0;
    font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3";
}

#header, .ms-CommandBar {
    position: fixed !important;
    width: 100%;
    z-index: 1;
}

#header {
    padding: 5px 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
}

.ms-Layer {
    height: 29px;
    display: block;
}

.ReactCodeMirror {
    width: 50%;
    overflow: scroll;
}

#preview {
    border-left: 1px solid #eee;
    width: 50%;
    padding: 60px 25px 10px 25px;
    overflow: scroll;
}

.CodeMirror {
    font: inherit;
    padding: 60px 20px 10px 20px;
    z-index: 0;
}
