html, body, #md-editor, #main, .CodeMirror {
    height: 100%;
}

#main {
    width: 100%;
    display: flex;
}

body {
    margin: 0;
    font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3";
}

.ReactCodeMirror {
    width: 50%;
}

#preview {
    border-left: 1px solid #eee;
    width: 50%;
    padding: 30px;
    overflow: scroll;
}

.CodeMirror {
    font: inherit;
    padding: 10px;
}
